useDynLib(castor, .registration=TRUE)
importFrom(naturalsort,naturalsort)
importFrom(stats,nlminb)
importFrom(stats,optim)
importFrom(stats,optimize)
importFrom(stats,runif)
importFrom(stats,setNames)
importFrom(stats,quantile)
importFrom(stats,qt)
importFrom(stats,rbinom)
importFrom(stats,rnorm)
importFrom(stats,rpois)
importFrom(stats,sd)
importFrom(utils,tail)
importFrom(stats,approx)
importFrom(stats,median)
importFrom(Rcpp,evalCpp)
importFrom(parallel,mclapply)
importFrom(utils,str)
importFrom(stats,dbeta)
importFrom(stats,rbeta)
importFrom(stats,rbeta)
importFrom(stats,na.omit)
importFrom(Matrix,sparseMatrix)
importFrom(RSpectra,eigs)
export(exponentiate_matrix)
export(get_subtree_with_tips)
export(get_subtree_at_node)
export(get_subtrees_at_nodes)
export(find_nearest_tips)
export(find_farthest_tips)
export(get_all_distances_to_root)
export(get_all_node_depths)
export(get_pairwise_mrcas)
export(get_pairwise_distances)
export(get_all_pairwise_distances)
export(get_stationary_distribution)
export(get_tips_for_mrcas)
export(consentrait_depth)
export(discrete_trait_depth)
export(get_tree_traversal_root_to_tips)
export(reorder_tree_edges)
export(asr_mk_model)
export(asr_max_parsimony)
export(asr_squared_change_parsimony)
export(asr_independent_contrasts)
export(asr_subtree_averaging)
export(hsp_max_parsimony)
export(hsp_squared_change_parsimony)
export(hsp_independent_contrasts)
export(hsp_mk_model)
export(hsp_subtree_averaging)
export(hsp_nearest_neighbor)
export(get_trait_acf)
export(geographic_acf)
export(root_at_node)
export(root_at_midpoint)
export(root_in_edge)
export(find_root_of_monophyletic_tips)
export(map_to_state_space)
export(simulate_mk_model)
export(simulate_ou_model)
export(simulate_rou_model)
export(simulate_bm_model)
export(get_random_mk_transition_matrix)
export(get_random_diffusivity_matrix)
export(get_transition_index_matrix)
export(pick_random_tips)
export(get_mrca_of_set)
export(is_monophyletic)
export(collapse_tree_at_resolution)
export(count_tips_per_node)
export(asr_empirical_probabilities)
export(hsp_empirical_probabilities)
export(hsp_binomial)
export(generate_random_tree)
export(generate_tree_hbds)
export(generate_tree_with_evolving_rates)
export(simulate_musse)
export(simulate_dsse)
export(simulate_dsse2)
export(simulate_tdsse)
export(simulate_tdsse2)
export(count_lineages_through_time)
export(find_root)
export(write_tree)
export(read_tree)
export(multifurcations_to_bifurcations)
export(collapse_monofurcations)
export(merge_short_edges)
export(get_independent_contrasts)
export(fit_bm_model)
export(fit_and_compare_bm_models)
export(root_via_outgroup)
export(fit_tree_model)
export(fit_musse)
export(simulate_diversification_model)
export(reconstruct_past_diversification)
export(get_tree_span)
export(get_trait_stats_over_time)
export(trim_tree_at_height)
export(split_tree_at_height)
export(extend_tree_to_height)
export(date_tree_red)
export(get_reds)
export(congruent_divergence_times)
export(tree_distance)
export(loglikelihood_hbd)
export(simulate_deterministic_hbd)
export(simulate_deterministic_hbds)
export(fit_hbd_model_on_grid)
export(fit_hbd_model_parametric)
export(fit_hbd_pdr_on_grid)
export(fit_hbd_pdr_parametric)
export(fit_hbd_psr_on_grid)
export(fit_hbd_psr_parametric)
export(fit_hbd_psr_on_best_grid_size)
export(fit_hbd_pdr_on_best_grid_size)
export(tree_from_branching_ages)
export(tree_from_sampling_branching_ages)
export(get_clade_list)
export(generate_gene_tree_msc)
export(generate_gene_tree_msc_hgt_dl)
export(extract_fasttree_constraints)
export(generate_tree_hbd_reverse)
export(evaluate_spline)
export(gamma_statistic)
export(simulate_sbm)
export(fit_sbm_const)
export(fit_sbm_parametric)
export(fit_sbm_on_grid)
export(fit_sbm_linear)
export(fit_and_compare_sbm_const)
export(fit_sbm_geobiased_const)
export(fit_mk)
export(fit_hbds_model_parametric)
export(fit_hbds_model_on_grid)
export(tree_imbalance)
export(count_transitions_between_clades)
export(join_rooted_trees)
export(congruent_hbds_model)
export(model_adequacy_hbd)
export(model_adequacy_hbds)
export(merge_nodes_to_multifurcations)
export(shift_clade_times)
export(find_farthest_tip_pair)
export(spline_coefficients)
export(is_bifurcating)
